JANICE_API_KEY=
ALLOWED_CATEGORIES=Ship,Asteroid,Material,Planetary Commodities,Reaction,Subsystem,Deployable,Ancient Relics,Decryptors
BUYBACK_PERCENTAGE=80
FIXED_PRICES=Heavy Water:500,Liquid Ozone:120
